@keyframes fadeToCenter {
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes toCenter {
  to {
    transform: translate3d(0px, 0px, 0px);
  }
}

@keyframes pulsation {
  from {
    box-shadow: 0 20px 24px rgba(255, 63, 115, 0.0);
  }
}