section.s-booking
  .container
    .booking-text 
      h2 Ready to book a place? We run a special discount.
      p Start booking a place because we run a special price for a month, go and grab it before it’s too late.
    button.booking-button Book a quote now
