section.s-features
  .container
    h2.section-title.features-title Features
    .features-wrapper 
      .features-description
        .description-title Buying a home doesn’t have to be a mystery.
        .description-subtitle Urna neque viverra justo nec ultrices dui vulputate dignissim suspendisse in est ante nibh mauris.
      .features-list
        .features-list__item.feature.feature--modern
          .feature__title Modern Concept
          .feature__description We created this style of modern and minimalist buildings at the request of the current owners.
        .features-list__item.feature.feature--owner
          .feature__title Owner in a Few Days
          .feature__description We have improved the delivery system of the apartments for a short time to deliver them.
      
