footer
  .container.container--grid
    .footer-description
      .logotype
        span LOGO
      p We are here to help you to find place for your needs like future house, apartments and office spaces.  
    .footer-nav
      h3 Navigation
      ul
        li
          a(href="#") Home
        li
          a(href="#") About Us
        li
          a(href="#") How it Works
        li
          a(href="#") Benefits
        li
          a(href="#") Testimonials
        li
          a(href="#") Help Center
    .footer-contact
      h3 Contact Us
      .footer-contact__write-to-us
        span Write to us:
        a(href="mailto:info@business.com") info@business.com
      .footer-contact__call-to-us
        span Call us to:
        a(href="tel:+530 9236 432") +530 9236 432
    .footer-office
      h3 Our Office
      p United States: #[br]3185  Gladwell Street,#[br] Massachusetts
      p United Kingdom: #[br]69  Holburn Lane,#[br] STANLEY
