.s-booking {
  position: relative;
  width: 90%;
  padding: 125px 0;
  background-color: $dark-violet;
  color: white;
  border-radius: 0 20px 20px 0;
  transform: translate3d(-100%, 0, 0);
}

.s-booking::after {
  content: url('../images/booking-image.png');
  position: absolute;
  bottom: -4px;
  right: 100px;
}

.booking-text {
  position: relative;
  z-index: 5;
  max-width: 465px;
  opacity: 0;
}

.booking-text h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 30px;
}

.booking-text p {
  font-size: 16px;
  font-weight: 300;
  line-height: 36px;
  margin-bottom: 60px;
}

.booking-button {
  position: relative;
  z-index: 5;
  padding: 30px;
  opacity: 0;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 20px 51px rgba(255, 255, 255, 0.5);
  color: $dark-violet;
  font-size: 16px;
  font-weight: 600;
  transition-property: color, background-color;
  transition-duration: 0.3s, 0.1s;
  cursor: pointer;
}

.booking-button:hover {
  transform: translate3d(0, -10px, 0);
}

.booking-button:active {
  color: white;
  background-color: $dark-violet;
}

.animation--toCenterBezier {
  animation-name: toCenter;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-delay: 0.5s;
}

.animation--fadeInDelay {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 2.5s;
}

@media screen and (max-width: 1500px) {
  .s-booking {
    padding: 80px 50px;
  }
  .s-booking::after {
    transform: scale(0.8);
    bottom: -58px;
    right: 70px;
  }
}

@media screen and (max-width: 1200px) {
  .s-booking {
    padding: 40px 50px;
  }
  .s-booking::after {
    transform: scale(0.6);
    bottom: -112px;
    right: -50px;
  }
  .booking-text {
    max-width: 440px;
  }
  .booking-text h2 {
    font-size: 34px;
    line-height: 52px;
  }
  .booking-text p {
    font-size: 15px;
    line-height: 30px;
  }
  .booking-button {
    padding: 24px;
    font-size: 15px;
  }
}

@media screen and (max-width: 1000px) {
  .s-booking {
    padding: 20px 50px;
  }
  .s-booking::after {
    transform: scale(0.4);
    bottom: -166px;
    right: -135px;
  }
  .booking-text {
    max-width: 400px;
  }
  .booking-text h2 {
    font-size: 31px;
    line-height: 48px;
    margin-bottom: 10px;
  }
  .booking-text p {
    font-size: 14px;
    line-height: 27px;
    margin-bottom: 20px;
  }
  .booking-button {
    padding: 17px;
    font-size: 14px;
  }
}

@media screen and (max-width: 700px) {
  .s-booking::after {
    transform: scale(0.3);
    bottom: -193px;
    right: -200px;
  }
  .booking-text {
    max-width: 300px;
  }
  .booking-text h2 {
    font-size: 22px;
    line-height: 35px;
  }
  .booking-text p {
    font-size: 12px;
    line-height: 22px;
  }
}

@media screen and (max-width: 550px) {
  .s-booking::after {
    transform: scale(0.2);
    bottom: -220px;
    right: -240px;
  }
  .s-booking {
    padding: 15px 20px;
  }
  .booking-text h2 {
    font-size: 20px;
    line-height: 27px;
  }
  .booking-text p {
    font-size: 10px;
    line-height: 19px;
  }
  .booking-button {
    padding: 13px;
    font-size: 12px;
  }
}