.s-features {
  padding-bottom: 175px;
}

.features-wrapper {
  display: flex;
}

.section-title {
  font-size: 14px;
  font-weight: 600;
  color: #8a8c93;
  text-transform: uppercase;
}

.features-title {
  margin-bottom: 40px;
  opacity: 0;
  transform: translate3d(0, -15px, 0);
}

.description-title {
  max-width: 400px;
  font-size: 36px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 50px;
}

.description-subtitle {
  max-width: 400px;
  font-size: 16px;
  line-height: 36px;
  color: $purple;
}

.features-description {
  margin-right: 170px;
  transform: translate3d(0, 100px, 0);
  opacity: 0;
}

.features-list {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  transform: translate3d(0, 100px, 0);
  opacity: 0;
}

.feature {
  position: relative;
  width: 250px;
  padding-top: 80px;
  background-repeat: no-repeat;
  background-position: 20px 0;
}

.feature--modern {
  background-image: url('../images/yellow-rectangle.svg');
  
}
.feature--owner {
  background-image: url('../images/violet-rectangle.svg');
}

.feature--modern::before {
  content: url('../images/business.png');
  position: absolute;
  top: 10px;
  left: 10px;
}

.feature--owner::before {
  content: url('../images/owner.png');
  position: absolute;
  top: 10px;
  left: 10px;
}

.feature__title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
}

.feature__description {
  color: $purple;
  font-size: 16px;
  line-height: 36px;
}

@media screen and (max-width: 1200px) {
  .features-description {
    margin-right: 100px;
  }
}

@media screen and (max-width: 1000px) {
  .s-features {
    padding-bottom: 75px;
  }
  .description-title {
    margin-bottom: 20px;
  }

  .features-title {
    text-align: center;
  }

  .features-description {
    margin-right: 0;
    margin-bottom: 50px;
  }

  .features-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .feature--modern {
    margin-right: 25px;
  }
}

@media screen and (max-width: 700px) {
  .features-list {
    flex-direction: column;
    text-align: center;
  }
  .feature--modern {
    margin-right: 0;
    margin-bottom: 20px;
    background-position-x: 55%;
  }
  .feature--owner {
    background-position-x: 55%;
  }
  .feature--modern::before, .feature--owner::before {
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 500px) {
  .description-title {
    max-width: 310px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
    font-size: 23px;
    line-height: 38px;
  }
  .description-subtitle {
    text-align: center;
    font-size: 12px;
    line-height: 22px;
  }
}