section.s-feedback-slider
  .slider
    .slider__item
      .feedback-text “Egestas maecenas pharetra convallis posuere morbi.”
      .feedback-author 
        p Carlos Wilkerson
        span CEO of VaynerMedia
      .feedback-rating
    .slider__item
      .feedback-text “Tristique risus nec feugiat in fermentum.”
      .feedback-author 
        p Dwight Steward
        span RealEstate Agent, IMEO
      .feedback-rating
    .slider__item
      .feedback-text “Aliquet bibendum enim facilisis.”
      .feedback-author 
        p Guy McKinney
        span RLST Manager, IMEO
      .feedback-rating
    .slider__dots
      span
      span
      span
    .slider__buttons
      button.default-button--prev.slider-button-prev Prev
      button.default-button--next.slider-button-next Next

