section.s-feedback-slider
  .slider
    .slider__item
      .feedback-text “Egestas maecenas pharetra convallis posuere morbi.”
      .feedback-author 
        p Carlos Wilkerson
        span CEO of VaynerMedia
      .feedback-rating
    .slider__item
      .feedback-text “Tristique risus nec feugiat in fermentum posuere urna morbi tristique senectus et netus et malesuada fames.”
      .feedback-author 
        p Dwight Steward
        span RealEstate Agent, IMEO
      .feedback-rating
    .slider__item
      .feedback-text “Aliquet bibendum enim facilisis gravida neque convallis arcu”
      .feedback-author 
        p Guy McKinney
        span RLST Manager, IMEO
      .feedback-rating
    .slider__dots
      span
      span
      span
    .slider__buttons
