section.s-main
  .container
    nav
      ul.nav-list
        li
          a(href="#") HOME
        li
          a(href="#") ABOUT US
        li
          a(href="#") HOW IT WORKS
        li
          a(href="#") BENEFITS
        li
          a(href="#") TESTIMONIALS
        li
          a(href="#") BLOG
        li
          a(href="#") FAQ
    .main-wrapper
      .main-info
        .logotype
          span LOGO
        h1.main-title Rethinking real estate management.
        p.main-subtitle Sed cras ornare arcu dui vivamus arcu felis bibendum consequat interdum varius mattis vulputate.  
      .main-images
        .main-images__left
          img(src="images/main-part1.png", alt="")
        .main-images__right
          img(src="images/main-part2.png", alt="")  
