section.s-properties
  .container
    h2.section-title.properties-title Properties
    h3.properties-heading Choose the perfect place for your needs
    .properties-subtitle You can choose the place that suites your taste and your budget for your new future house / apartment.
    ul.properties-list
      li.luxury
        .property-info
          span.property-info__title Luxury Penthouses
          span.property-info__price Starting from $490.000
        img(src="../images/luxury-prop.png", alt="")
      li.two-room
        .property-info
          span.property-info__title Two-Room Apartments
          span.property-info__price Starting from $90.000
        img(src="../images/two-room-prop.png", alt="")
      li.three-room
        .property-info
          span.property-info__title Three-Room Apartments
          span.property-info__price Starting from $140.000
        img(src="../images/three-room-prop.png", alt="")
      li.modern
        .property-info
          span.property-info__title Modern Houses
          span.property-info__price Starting from $589.000
        img(src="../images/modern-prop.png", alt="")
      li.working
        .property-info
          span.property-info__title Working Spaces
          span.property-info__price Starting from $1499/mth
        img(src="../images/working-prop.png", alt="")