section.choose-us
  .container
    h2.section-title.choose-us-title Why to choose us
    .choose-us-heading Hundreds of New Modern Apartments & Houses
    .choose-us-subtitle Tellus rutrum tellus pellentesque eu tincidunt tortor. Vel elit scelerisque mauris pellentesque pulvinar pellentesque habitant. Gravida arcu ac tortor dignissim convallis aenean et tortor.
    .choose-us-buttons
      button.choose-us-prev-button Prev 
      button.choose-us-next-button Next
    ul.choose-us-features
      li Arhitectural inspection
      li Home purchase procedure
      li Reduction of utility fees
    .choose-us-image
      img(src="../images/choose-us-build.png", alt="")
    .dots    