//utils
@import './_vars.scss';
@import './_fonts.scss';
@import './_animations.scss';

*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: $black;
  background-color: #f7f8fa;
  font-family: Inter;
  font-weight: 400;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
  outline: none;
}

.container {
  max-width: 1200px;
  padding: 0 25px;
  margin: 0 auto;
}

.default-button--prev {
  position: relative;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: right;
}

.default-button--prev::after {
  content: url('../images/arrow-violet-prev.png');
  position: absolute;
  top: 0;
  left: 0;
}

.default-button--next {
  position: relative;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: left;
}

.default-button--next::after {
  content: url('../images/arrow-violet-next.png');
  position: absolute;
  top: 0;
  right: 0;
}

// views
@import './views/main.scss'; 
@import './views/features.scss'; 
@import './views/why-to-choose-us.scss'; 
@import './views/properties.scss'; 
@import './views/feedbacks-slider.scss'; 
@import './views/booking.scss'; 
@import './views/footer.scss'; 
